<!DOCTYPE html>
<html>
  <head>
    <title>Web-Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# ========== design for smartphone ========== %>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%# ========== navbar ========== %>
      <%= render 'partial/navbar' if current_user %>

      <%# ========== alert ========== %>
      <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%# ========== main ========== %>
      <div class="container">
          <%= yield %>
      </div>
      <%# ========== footer ========== %>
      <%= render 'partial/footer' %>
    </div>
  </body>
</html>
